.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: start;
  background-color: black;
  padding: 2rem;

  &__text {
    color: white;
    font-size: 0.7rem;
    padding-left: 0.3rem;
  }
}
