.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("../../assets/backgrounds/979e1384772a63c95bb608ffbd1a7500.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 5rem;

  &__title {
    color: rgba(122, 30, 30, 1);
    font-size: 96px;
    padding-top: 15rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 30rem;
  }
}
